{% extends "main/wrapper.html" %}
{% load static %}
{% block content %}
<!-- header section end -->
<!-- banner section start -->
<div class="banner_section">
    <div class="container-fluid">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="book_now">
                                <h1 class="book_text">BOOK NOW</h1>
                                <h1 class="call_text">(+71) 1234567890</h1>
                            </div>
                            <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <h1 class="booking_text">Book a City Taxi to your destination in town</h1>
                            <div class="contact_bg">
                                <div class="input_main">
                                    <div class="container text-center">
                                        <h2 class="request_text">Your everyday travel partner</h2>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" class="email-bt" placeholder="Start Date"
                                                    name="startdate">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="email-bt" placeholder="End Date"
                                                    name="enddate">
                                            </div>

                                            <input name ="searchreserv" type="submit" class="btn btn-outline-secondary" value="Search">
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i></a>
            </a>
        </div>

    </div>
</div>
<div id="booking" class="ride_section layout_padding">
    <div class="container">
        <div class="ride_main">
            <h1 class="ride_text">Why Ride <span style="color: #f4db31;">With Uloax</span></h1>
        </div>
    </div>
</div>
<div class="ride_section_2 layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="image_3"><img src="{% static 'images/img-3.png' %}"></div>
            </div>
            <div class="col-sm-8">
                <h1 class="cabe_text">Uloax for Every Pocket</h1>
                <p class="long_text">It is a long established fact that a reader will be distracted by the
                    readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                    a
                    more-or-less normal distribution of letters, as It is a long established fact that a reader
                    will
                    be distracted by the readable c</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="secure_text">Secure and Safer Rides</h1>
                <p class="long_text_2">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                    that it
                    has a more-or-less normal distribution of letters, as It is a long established fact that a
                    reader will be distracted by the readable c</p>
            </div>
            <div class="col-sm-4">
                <div class="image_3"><img src="{% static 'images/img-4.png' %}"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="image_3"><img src="{% static 'images/img-5.png' %}"></div>
            </div>
            <div class="col-sm-8">
                <h1 class="cabe_text">Uloax for Every Pocket</h1>
                <p class="long_text">It is a long established fact that a reader will be distracted by the
                    readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                    a
                    more-or-less normal distribution of letters, as It is a long established fact that a reader
                    will
                    be distracted by the readable c</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="secure_text">Secure and Safer Rides</h1>
                <p class="long_text_2">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                    that it
                    has a more-or-less normal distribution of letters, as It is a long established fact that a
                    reader will be distracted by the readable c</p>
            </div>
            <div class="col-sm-4">
                <div class="image_3"><img src="{% static 'images/img-5.png' %}"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-2 my-5 text-center mx-auto">
            <a href="{% url 'main:booking' %}">
                <div class="btn-lg btn-warning font-weight-bold">
                    BOOK NOW
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}