{% extends "main/wrapper.html" %}
{% load static %}
{% block content %}
<div id="taxis" class="taxis_section layout_padding">
    <div class="container">
        <div class="taxis_section_2">
            <div class="row">
                <div class="col-12 mb-5">
                    <h1 class="our_text">Book <span style="color: #f4db31;">History</span></h1>
                </div>

                <div class="row justify-content-center">
                    {% for reserv in reservs %}
                    <div class="card border-success m-3" style="max-width: 18rem;">
                        <div class="card-header text-warning"><b> Driver: {{ reserv.car }}</b>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-dark">Стоимость поездки:{{ reserv.price }}
                            </h5>
                            <h4 class="card-text text-success">Адрес заказа: {{ reserv.from_destination }}
                            </h4>
                            <h4 class="card-text text-success">Адрес назначения:{{ reserv.to_destination }}
                            </h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}