{% extends "main/wrapper.html" %}
{% load static %}
{% block content %}
<div id="taxis" class="taxis_section layout_padding">
    <div class="container">
        <div class="taxis_section_2">
            <div class="row">
                <div class="col-12 mb-5">
                    <h1 class="our_text">Book<span style="color: #f4db31;">Taxi</span></h1>
                </div>
                <div class="col-7 mx-auto my-3">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.errors }}
                        <div class="form-group">
                            <input type="text" class="form-control" id="inputAddress" placeholder="Phone Number"
                                name="phone_number">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="From" name="from_destination">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="to_destination" class="form-control" placeholder="To"
                                    name="to_destination">
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Passengers" name="passangers">
                        </div>

                        <div class="form-group text-center">
                            <input type="submit"  href="{% url 'main:history' %}" class="btn btn-warning" value='Book' name='booking'>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock content %}