{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>ULOAX</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- fevicon -->
    <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <!--header section start -->
    <div id="index.html" class="header_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="logo"><a href="index.html"><img src="{% static 'images/logo.png' %}"></a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-9">
                    <div class="menu_text">
                        <ul>
                            <li><a href="{% url 'main:main' %}">Home</a></li>
                            <li><a href="{% url 'main:about' %}">About</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'main:booking' %}">Booking</a></li>
                            <li><a href="{% url 'main:logout' %}">Logout</a></li>
                            {% else %}
                            <li>
                                <a href="{% url 'main:login' %}" class="ml-5 mr-3">Login</a>
                                <a href="{% url 'main:registration' %}">Registration</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="taxis" class="taxis_section layout_padding">
        <div class="container my-5">
            <div class="taxis_section_2">
                <div class="row my-5">
                    <div class="col-12 my-5">
                        <h1 class="our_text">
                            <span style="color: #f4db31;">Жаль что вы уходите...</span>
                        </h1>
                        <h1 class="our_text">
                            <span style="color: #f4db31;">Ну и валите и не возвращайтесь!</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock content %}
    <div id="contact" class="location_sectin layout_padding">
        <div class="container-fluid">
            <div class="location_main">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-5">
                        <div class="download_text">DOWNLOAD<br><span style="color: #fffcf4;">OUR APP TODAY</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="image_7"><img src="{% static 'images/img-7.png' %}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- download section end -->
    <!-- section footer start -->
    <div class="section_footer ">
        <div class="container">
            <div class="footer_section_2">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h2 class="account_text">Address</h2>
                        <p class="ipsum_text">It is a long established fact that a reader will be distracted by the
                            readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                            that it has a more-or-less normal distribution of letters, </p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h2 class="account_text">Links</h2>
                        <div class="image-icon"><img src="{% static 'images/bulit-icon.png' %}"><span class="fb_text"><a
                                    href="#">Home</span></a></div>
                        <div class="image-icon"><img src="{% static 'images/bulit-icon.png' %}"><span class="fb_text"><a
                                    href="#">About</span></a></div>
                        <div class="image-icon"><img src="{% static 'images/bulit-icon.png' %}"><span class="fb_text"><a
                                    href="#">Taxi</span></a></div>
                        <div class="image-icon"><img src="{% static 'images/bulit-icon.png' %}"><span class="fb_text"><a
                                    href="#">Booking</span></a></div>
                        <div class="image-icon"><img src="{% static 'images/bulit-icon.png' %}"><span class="fb_text"><a
                                    href="#">Contact Us</span></a></div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h2 class="account_text">Follow Us</h2>
                        <div class="image-icon"><img src="{% static 'images/fb-icon.png' %}"><span class="fb_text"><a
                                    href="#">Facebook</a></span></div>
                        <div class="image-icon"><img src="{% static 'images/twitter-icon.png' %}"><span
                                class="fb_text"><a href="#">Twitter</a></span></div>
                        <div class="image-icon"><img src="{% static 'images/in-icon.png' %}"><span class="fb_text"><a
                                    href="#">Linkedin</a></span></div>
                        <div class="image-icon"><img src="{% static 'images/youtube-icon.png' %}"><span
                                class="fb_text"><a href="#">Youtube</a></span></div>
                        <div class="image-icon"><img src="{% static 'images/instagram-icon.png' %}"><span
                                class="fb_text"><a href="#">Instagram</a></span></div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h2 class="adderess_text">Newsletter</h2>
                        <input type="" class="email_text" placeholder="Enter Your Email" name="Enter Your Email">
                        <button class="subscribr_bt">SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- section footer end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright">2019 All Rights Reserved</p>
        </div>
    </div>

    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- javascript -->
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });
        });
    </script>
</body>

</html>