{% extends "main/wrapper.html" %}
{% load static %}
{% block content %}
<div id="taxis" class="taxis_section layout_padding">
    <div class="container">
        <h1 class="our_text">Our <span style="color: #f4db31;">Taxi</span></h1>
        <div class="taxis_section_2">
            <div class="row">
                <div class="col-sm-4">
                    <div class="taxi_main">
                        <div class="round_1">01</div>
                        <h2 class="carol_text">CAR 1</h2>
                        <p class="reader_text">act that a reader will be<br>
                            distracted </p>
                        <div class="images_2">
                            <a href="{% url 'main:booking' %}">
                                <img src="{% static 'images/car1.webp' %}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="taxi_main">
                        <div class="round_1">02</div>
                        <h2 class="carol_text">CAR 2</h2>
                        <p class="reader_text">act that a reader will be<br>
                            distracted </p>
                        <div class="images_2"><a href="{% url 'main:booking' %}"><img
                                    src="{% static 'images/car2.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="taxi_main">
                        <div class="round_1">03</div>
                        <h2 class="carol_text">CAR 3</h2>
                        <p class="reader_text">act that a reader will be<br>
                            distracted </p>
                        <div class="images_2"><a href="{% url 'main:booking' %}"><img
                                    src="{% static 'images/car3.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}